<footer>
    <div class="container">
        <div class="footer-content">
            <div class="brand">
                <h3>Астро ключ</h3>
                <p>Вашият пътеводител към звездите.</p>
            </div>
            <div class="contact">
                <h4>Контакт</h4>
                <p>Email: kastroguru@gmail.com</p>
            </div>
        </div>
        <div class="copyright">
            <p>&copy; 2023 Астро ключ. Всички права запазени.</p>
        </div>
    </div>
</footer>